.movie {
    padding-right: 20px;
    padding-left: 20px;
}

.backBtn {
    margin-top: 15px;
    border-radius: 5px;
}

.movieTitle {
    margin-top: 15px;
    margin-bottom: 15px;
}

.movieWrapper {
    display: flex;
    gap: 20px;
}

.poster {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.subTitle {
    margin: 0;
}

.infoList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    margin-top: 20px;
}

.genres {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.genre {
    background-color: #fafafa;
    padding: 5px;
    border-radius: 4px;
    pointer-events: none;
}

.info {
    margin: 0;
    color: gray;
}

.slogan {
    font-style: italic;
    color: gray;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
    color: gray;
}

.link {
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    color: gray;
}
