.list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.movie {
    background-color: gray;
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;
    width: calc((100% - 15px) / 2);
    display: flex;
    align-items: center;
}

.movieCard {
    display: flex;
    gap: 15px;
    align-items: center;
}

.warning {
    text-align: center;
    margin: 0 auto;
}
